<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="myCoach" class="com.epam.java.spring.TrackCoach">
        <constructor-arg name="fortuneService" ref="fortuneService"/>
    </bean>


    <bean id="fortuneService" class="com.epam.java.spring.HappyFortuneService">

    </bean>

    <bean id="myCricketCoach" class="com.epam.java.spring.CricketCoach">
        <!--set up setter injection-->
        <property name="fortuneService" ref="fortuneService"/>

        <!--inject literal values-->
        <property name="emailAddress" value="email@some-hosting.com"/>
        <property name="team" value="Sunrisers Hyderabad"/>
    </bean>
</beans>
